{% extends "portfolio_app/index.html" %}
{% load static %}
{% block content %}
<!-- Resume Section -->
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
      <h5>Jeeva P R</h5>
      <p>
        9895132692 | jeevageetha772@gmail.com | https://www.linkedin.com/in/jeeva-p-r/ | https://github.com/jeevapr20 | Ernakulam, Kerala, India.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Sumary</h3>

          <div class="resume-item pb-0">
            <h4>Jeeva P R</h4>
            <p><em>An enthusiastic and driven Full-Stack Developer with 6 months of internship experience at Inmakes Infotech Pvt Ltd, where I developed and maintained web applications utilizing a wide range of technologies, including Python, Django, React.js, REST APIs, and PostgreSQL/MySQL. During my internship, I gained hands-on experience in both front-end and back-end development, successfully contributing to the design, development, and deployment of dynamic web applications.

              I have a strong foundation in building scalable, efficient, and user-friendly solutions, utilizing frameworks like Django for back-end logic and React.js for dynamic user interfaces. 
            </em></p>
            <h5>Technical Skills</h5>
            <ul>
              <li><strong>Programming Languages:</strong> Python, JavaScript, HTML, CSS</li>
              <li><strong>Frameworks &amp; Libraries:</strong> Django, React.js, Bootstrap, jQuery, Tailwind</li>
              <li><strong>Database Technologies:</strong> PostgreSQL, MySQL</li>
              <li><strong>Tools &amp; Platforms:</strong> Git, GitHub, REST APIs</li>
              <li><strong>Others:</strong> Debugging, Problem-Solving, Responsive Design</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Post Graduate Diploma in Computer Application</h4>
            <h5>Pursuing</h5>
            <p><em>Indian Institute of Skills and Development Training</em></p>
            <ul>
              <li>Focus on programming languages, software development, web development, and database management systems.
              Expected completion: 2026</li>
            </ul>
            
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>B.com Finance and Taxation</h4>
            <h5>2016 - 2019</h5>
            <p><em>Mahatma Gandhi University</em></p>
            <ul>
              <li>Specialized in finance, taxation, and accounting principles.
              Developed a strong understanding of financial management, tax laws, and business practices.</li>
            </ul>
          </div><!-- Edn Resume Item -->

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Junior Python Full Stack Developer Intern</h4>
            <h5>1st July 2024 - 1st January 2025</h5>
            <p><em>Inmakes Infotech Pvt Ltd </em></p>
            <ul>
              <li>Developed and maintained full-stack web applications using Python, Django, React.js, HTML, CSS, JavaScript, jQuery, and Bootstrap to create responsive and user-friendly interfaces.</li>
              <li>Built and optimized backend logic with Django and REST APIs, ensuring efficient data handling and communication between the front-end and back-end.</li>
              <li>Worked with PostgreSQL and MySQL databases, improving query performance and data management for scalable web applications.</li>
              <li>Collaborated with the development team to design and implement new features while troubleshooting and resolving technical issues in a timely manner.</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Other Experiences</h4>
            <h6>Recruitment Coordinator &amp; Office Assistant</h6>
            <h5>2021 - 2024</h5>
            <p><em>Smart Consultancy &amp; South Indian Bank</em></p>
            <ul>
              <li>Assisted in the candidate screening process, including reviewing resumes and conducting initial interviews.</li>
              <li>Managed client interactions, ensuring smooth communication and alignment with recruitment needs.</li>
              <li>Coordinated and scheduled interviews, ensuring timely and organized recruitment processes.</li>
            
            
              <li>Managed various administrative and clerical tasks, including maintaining office records, filing, and preparing documentation.</li>
              <li>Assisted with day-to-day office operations, ensuring efficiency and timely completion of tasks.</li>
              <li>Supported office staff with data entry and customer service responsibilities.</li>
            </ul>
          </div><!-- Edn Resume Item -->

        </div>

      </div>

    </div>

  </section><!-- /Resume Section -->
  {% endblock content %}